// color
$themeColor: #0081F6;
$lighterBorderColor: #E1E5E6;
$warningColor: #FF8800;
$borderColor: #E6E6E6;
$whiteColor: #FFFFFF;
$dangerColor: #E64451;

$normalBgColor: #F6F6F6;

$contentColor: #333333;
$descColor: #666666;
$infoColor: #999999;

$navBarColor: #525A5F;
$logoBgColor: #364150;
$menuBgColor: #2b3643;
$menuItemBgColor: #35414E;

//
$fontSize: 16px;

// navbar menu styles
$menuLargeWidth: 190px;
$menuSmallWidth: 60px;
$menuHeight: 40px;
$dropdownActiveBgColor: #e6f2fe;
$dropdownActiveColor: #339af8;
